@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

a {
  color: #6b82af;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #AAACB0;
  background: #654ea3;
  background: -webkit-linear-gradient(to bottom, #654ea3, #eaafc8);
  background: linear-gradient(to bottom, #0F2027, #203A43, #2C5364) no-repeat;
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 6rem;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  overflow: auto;
}

.subtitle {
  font-size: 4vh;
  font-weight: 300;
  font-style: italic;
}

.text-entry {
  justify-content: left;
  font-size: 2vh;
}


#content {
  animation: fadeIn 2.2s ease-in;
  margin-left: 2rem;
}

#navbar {
  position: sticky;
  overflow: hidden;
  background-color: #0F2027;
  top: 0;
}

#navbar a {
  float: right;
  display: block;
  color: #AAACB0;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 3vh;
}

#navbar a.active {
  border-bottom: 3px solid #305b6d;
}

#navbar a:hover {
  border-bottom: 3px solid #AAACB0;
  transition: 0.1s;
}